:root {
    --color-white: #ffffff;
    --color-dark-text: #161012;
    --color-dark-grey: #6b7376;
    --color-text-grey: #b6bbc1;
    --color-headers: #eaeaea;
    --color-contact-hover: #e9ebeb;
    --color-light-icons: #b1b1b1;
    --color-bg-search-bar: #fafafa;
    --color-sent-message: #d5f9ba;
    --color-notification: #8edafc;
    --my-bg-color: linear-gradient(to bottom,#009688 0%,#009688 20%,#DBDBD3 20%,#DBDBD3 100%);
}
body{
    font-family: 'Lato', sans-serif;
}
#app {
    width: 100%;
    height: 100vh;
    background: var(--my-bg-color);
    padding: 20px;
}

.contacts{
    background-color: var(--color-white);
}

.bgheaders{
    background-color: var(--color-headers)
}

.h0{
    height: 0;
}
.header{
    background: var(--color-headers);
}
.top-icon{
    color: var(--color-light-icons);
}
.bg-search-bar{
    background-color: var(--color-bg-search-bar);
}
.dark-grey{
    color: var(--color-dark-grey) !important;
}
.bg-notification{
    background-color: var(--color-notification);
}
.text-notification{
    color: var(--color-notification);
}
.trilly{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
.w-15{
    width: 50px;
}
.little-text{
    font-size: 10px;
    color: var(--color-text-grey);
}
.reset-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.chat{
    background-image: url(../img/mine.jpg);
    
}
.sent{
    text-align: right;
}
.received{
    text-align: left;
}
.sent div{
    background-color: var(--color-sent-message);
}
.received div{
    background-color: var(--color-bg-search-bar);
}
.time-message{
    right: 10px;
    bottom: 5px;
}

.contact:hover {
    background-color: var(--color-contact-hover);
    transition: all 0.3s;
}
.active{
    background-color: var(--color-dark-grey);
    transition: all 0.3s;
}
.active:hover {
    background-color: var(--color-dark-grey);
    transition: all 0.3s;
}
.w-40{
    width: 40%;
}