<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    >
    <!-- font-awesome CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    <!-- link to Font-Family and CSS Files -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Document Title -->
    <title>Document</title>
  </head>

  <body>
    <div id="app">
        <div class="container h-100">
            <div class="row h-100 flex-nowrap">
                <div class="col-12 col-md-4 contacts border-end">
                    <div class="row h-100 flex-column ">
                        <div class="col-12 header d-flex justify-content-between align-items-center">
                            <div class="d-flex my-2 align-items-center">
                                <div class="w-15">
                                    <img src="img/avatar_8.jpg" alt="me" class="img-fluid rounded-circle">
                                </div>
                                <span class="mx-2">
                                    Mirko
                                </span>
                            </div>
                            <div class="d-flex top-icon">
                                <i class="fa-solid fa-circle-notch mx-2 fs-5"></i>
                                <i class="fa-solid fa-message mx-2 fs-5"></i>
                                <i class="fa-solid fa-ellipsis-vertical mx-2 fs-5"></i>
                            </div>
                        </div>
                        <div class="col-12 d-flex bg-notification p-3">
                            <div class="rounded-circle bg-white text-center trilly">
                                <i class="fa-solid fa-bell-slash text-notification"></i>
                            </div>
                            <div class="px-2">
                                <div>
                                    Ricevi notifiche di nuovi messaggi
                                </div>
                                <div>
                                    <a href="#" class="little-text dark-grey ">Attiva notifiche desktop</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-12 bg-search-bar">
                            <div class="input-group my-2">
                                <span class="input-group-text bg-white" id="basic-addon1">
                                    <button class="btn py-0">
                                        <i class="fa-solid fa-magnifying-glass top-icon"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-12 flex-grow-1 overflow-y-auto h0 reset-padding">
                            <div v-for="(element) in contacts" :key="element.id" class="d-flex border-top justify-content-between contact" @click="activeContact = element.id" :class="{'active': isActive(element.id)}">
                                <div class="d-flex py-2">
                                    <div class="w-15">
                                        <img :src="element.avatar" alt="avatar1" class="img-fluid rounded-circle m-2">
                                    </div>
                                    <div class="px-4">
                                        <div>
                                            {{element.name}}
                                        </div>
                                        <div class="little-text">
                                            {{element.messages[element.messages.length - 1].message}}
                                        </div> 
                                    </div>
                                </div>
                                <div class="little-text p-2">
                                    {{element.messages[element.messages.length - 1].date}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="row h-100 flex-column">
                        <div class="col-12 header d-flex justify-content-between align-items-center">
                            <div class="d-flex my-2 align-items-center">
                                <div class="w-15">
                                    <img :src="contacts[activeIndex].avatar" alt="me" class="img-fluid rounded-circle">
                                </div>
                                <div>
                                    <span class="mx-2">
                                        {{contacts[activeIndex].name}}
                                    </span>
                                    <div class="mx-2 little-text">
                                        Ultimo accesso: 
                                        {{contacts[activeIndex].messages[contacts[activeIndex].messages.length - 1].date}}
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex top-icon">
                                <i class="fa-solid fa-magnifying-glass mx-2 fs-5"></i>
                                <i class="fa-solid fa-paperclip mx-2 fs-5"></i>
                                <i class="fa-solid fa-ellipsis-vertical mx-2 fs-5"></i>
                            </div>
                        </div>
                        <div class="col-12 flex-grow-1 chat overflow-y-auto h0">
                            <div class="m-3" v-for="(element, index) in contacts[activeIndex].messages" key="element.id" :class="element.status">
                                <div class="w-40 rounded-4 m-3 d-inline-block p-3 position-relative" >
                                    {{contacts[activeIndex].messages[index].message}}
                                    <span class="little-text position-absolute time-message">
                                        {{contacts[activeIndex].messages[index].date}}
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="text-end m-3">
                                <div class="sent w-25 rounded-4 m-3 text-start d-inline-block p-3 position-relative" >
                                    inviato
                                    <span class="little-text position-absolute time-message">
                                        12.00
                                    </span>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-12 header d-flex align-items-center justify-content-evenly p-2">
                            <i class="fa-regular fa-face-smile fa dark-grey"></i>
                            <input type="text" class="w-75 border-0 p-2 rounded-2" placeholder="Scrivi un messaggio" v-model="activeMessage" @keyup.enter="sendMessage">
                            <div v-if="activeMessage === ''">
                                <i class="fa-solid fa-microphone dark-grey"></i>
                            </div>
                            <div v-else>
                                <button class="btn" @click="sendMessage">
                                    <i class="fa-solid fa-paper-plane dark-grey"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My JS -->
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <script src="js/script.js" type="module"></script>
  </body>
</html>