<!DOCTYPE html>
<html lang="en" >
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    >
    <!-- font-awesome CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    <!-- link to Font-Family and CSS Files -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Document Title -->
    <title>Boolzapp</title>
  </head>

  <body>
    <div id="app" >
        <div ref="splash">
            <img src="img/html-css-js.png" alt="splash" class="img-fluid">
        </div>
        <div class="container h-100 d-none shadow" ref="app" :style="'font-size:' + fontSize + 'px'">
            <div class="row h-100 flex-nowrap" @click="dropDownFlag = false, mainMenuFlag = false">
                <div class="col-12 col-md-4 white border-end" ref="left">
                    <div class="row h-100 flex-column ">
                        <div class="col-12 header d-flex justify-content-between align-items-center">
                            <div class="d-flex my-2 align-items-center">
                                <div class="w-15">
                                    <img src="img/avatar_8.jpg" alt="me" class="img-fluid rounded-circle">
                                </div>
                                <span class="mx-2 my-text-dark">
                                    Mirko
                                </span>
                            </div>
                            <div class="d-flex top-icon position-relative" >
                                <i class="fa-solid fa-plus mx-2 fs-5 cursor-pointer" @click="fontSizeUp()"></i>
                                <i class="fa-solid fa-minus mx-2 fs-5 cursor-pointer" @click="fontSizeDown()"></i>
                                <i class="fa-regular fa-sun mx-2 fs-5" ref="sun"></i>
                                <i class="fa-solid fa-moon mx-2 fs-5 d-none" ref="moon"></i>
                                <label class="switch" for="dark-mode">
                                    <input type="checkbox" id="dark-mode">
                                    <span class="slider round" @click="switchToDarkMode()"></span>
                                </label>
                                <i class="fa-solid fa-circle-notch mx-2 fs-5"></i>
                                <i class="fa-solid fa-message mx-2 fs-5"></i>
                                <i class="fa-solid fa-ellipsis-vertical mx-2 fs-5 cursor-pointer" @click.stop="mainMenuFlag = !mainMenuFlag"></i>
                                <div class="drop-down-menu left-drop-down-menu" v-show="mainMenuFlag === true">
                                    <div @click.stop="popUp = true, mainMenuFlag = false" class="cursor-pointer">
                                        Nuovo contatto
                                    </div>
                                </div>
                                <div class="popup position-fixed rounded rounded-2 p-3" v-show="popUp === true">
                                    <div>
                                        <button class="btn position-absolute" @click.stop="popUp = false">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                        <div class="mb-3">
                                          <label for="contatto" class="form-label">Nome contatto</label>
                                          <input type="text" class="form-control" id="contatto" v-model="popUpName">
                                        </div>
                                        <div class="mb-3">
                                          <label for="image" class="form-label">Foto profilo</label>
                                          <input type="text" class="form-control" id="image" v-model="popUpImage">
                                        </div>
                                        <button type="button" class="btn" @click="createNewContact(), popUp = false">Crea</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex bg-notification p-3">
                            <div class="rounded-circle bg-white text-center trilly">
                                <i class="fa-solid fa-bell-slash text-notification"></i>
                            </div>
                            <div class="px-2 my-text-dark">
                                <div>
                                    Ricevi notifiche di nuovi messaggi
                                </div>
                                <div>
                                    <a href="#" class="little-text">Attiva notifiche desktop</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-12 header">
                            <div class="input-group my-2">
                                <span class="input-group-text white" id="basic-addon1">
                                    <button class="btn py-0 white">
                                        <i class="fa-solid fa-magnifying-glass top-icon"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="basic-addon1" v-model="findContact">
                            </div>
                        </div>
                        <div class="col-12 flex-grow-1 overflow-y-auto h0 reset-padding">
                            <div v-for="(element, index) in filterContact()" :key="element.id" class="d-flex border-top justify-content-between contact my-text-dark" @click="activeContact = element.id, dropDownRemove(), switchToChat(), dropDownFlag = false" :class="{'active': isActive(element.id)}">
                                <div class="d-flex py-2">
                                    <div class="w-15">
                                        <img :src="element.avatar" :alt="element.name" class="img-fluid rounded-circle m-2">
                                    </div>
                                    <div class="px-4">
                                        <div>
                                            {{element.name}}
                                        </div>
                                        <div class="little-text">
                                            {{getLastMessage(element.id)}}
                                        </div> 
                                    </div>
                                </div>
                                <div class="little-text p-2">
                                    {{formatHour(getLastAccess(element.id))}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block col-md-8" ref="right">
                    <div class="w-100 h-100 my-default" v-if="activeContact === null">
                        <div class="d-flex justify-content-center align-content-center align-items-center h-100 flex-column p-5 my-text-dark">
                            <h2 class="fw-bold display-5 pt-3">Boolzapp</h2>
                            <p class="text-center px-5 fw-bold fs-5">Invia e ricevi messaggi mantenendo il PC connesso a internet. Usa Boolzapp per mandare messaggi e ricevere risposte totalmente casuali. <br>
                            Aiuta Boolzapp e aiuterai la tua pazzia.      
                            </p>
                        </div>
                    </div>
                    <div class="row h-100 flex-column" v-else>
                        <div class="col-12 d-flex justify-content-between align-items-center header">
                            <div class="d-flex my-2 align-items-center">
                                <div class="w-15">
                                    <img :src="contacts[activeIndex].avatar" alt="me" class="img-fluid rounded-circle">
                                </div>
                                <div>
                                    <span class="mx-2 my-text-dark">
                                        {{contacts[activeIndex].name}}
                                    </span>
                                    <div class="mx-2 little-text" v-show="isWriting === false && onlineStatus === false">
                                        Ultimo accesso: 
                                        {{formatHour(lastDate)}}
                                    </div>
                                    <div class="mx-2 little-text" v-show="isWriting === true">Sta scrivendo...</div>
                                    <div class="mx-2 little-text text-success" v-show="onlineStatus === true">Online</div>
                                </div>
                            </div>
                            <div class="d-flex position-relative">
                                <button class="btn top-icon d-none" @click="switchToContact()" ref="return">
                                    <i class="fa-solid fa-right-to-bracket mx-2 fs-5">
                                    </i>
                                </button>
                                <button class="btn top-icon">
                                    <i class="fa-solid fa-magnifying-glass mx-2 fs-5"></i>
                                </button>
                                <button class="btn top-icon">
                                    <i class="fa-solid fa-paperclip mx-2 fs-5"></i>
                                </button>
                                <button class="btn top-icon" @click.stop="dropDownFlag = !dropDownFlag">
                                    <i class="fa-solid fa-ellipsis-vertical mx-2 fs-5"></i>
                                </button>
                                <div class="drop-down-menu main-drop-down-menu" v-show="dropDownFlag === true">
                                    <div @click.stop="deleteAllMessage()" class="cursor-pointer">
                                        Elimina messaggi
                                    </div>
                                    <div @click="deleteContact()" class="cursor-pointer">
                                        Elimina chat
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 flex-grow-1 chat overflow-y-auto h0 pt-4" ref="chat" @click="dropDownRemove(index), dropDownFlag = false" v-bind:style="{'background-image': 'url(' + backgroundImage +')'}">
                            <div class="m-3 my-text-dark" v-for="(element, index) in contacts[activeIndex].messages" key="element.id" >
                                <div class="w-40 rounded-4 m-2 d-inline-block p-3 position-relative message" :class="element.status">
                                    {{contacts[activeIndex].messages[index].message}}
                                    <span class="little-text position-absolute time-message">
                                        {{formatHour(lastDate)}}
                                    </span>
                                    <span class="little-text position-absolute chevron-message" @click.stop="dropDownRemove(index)">
                                        <i class="fa-solid fa-chevron-down d-none"></i>
                                    </span>
                                    <div class="drop-down-menu" v-show="index === clicked">
                                        <div class="details">
                                            <i class="fa-regular fa-circle-question"></i>
                                            Dettagli messaggio</div>
                                        <div @click="deleteMessage(index)" class="delete-message">
                                            <i class="fa-solid fa-trash text-danger"></i> 
                                            <span class="text-danger">Cancella Messaggio</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 header d-flex align-items-center justify-content-evenly p-2">
                            <i class="fa-regular fa-face-smile fa top-icon"></i>
                            <input type="text" class="w-75 border-0 p-2 rounded-2" placeholder="Scrivi un messaggio" v-model="activeMessage" @keyup.enter="sendMessage">
                            <div v-if="activeMessage === ''">
                                <i class="fa-solid fa-microphone top-icon"></i>
                            </div>
                            <div v-else>
                                <button class="btn" @click="sendMessage">
                                    <i class="fa-solid fa-paper-plane top-icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My JS -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js"></script>
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <script src="js/script.js" type="module"></script>
  </body>
</html>